body {
    background-color: #e3e6e8;
}

.toggleButon {
    appearance: none;
    border: none;
    background: #0d53e6;
    outline: none;
    border-radius: 0;
    letter-spacing: inherit;
    cursor: pointer;
}

.title {
    color: #0d53e6;
    position: absolute;
    line-height: 0px;
    margin-bottom: 20px;
    width: 200px;
    left:  40px;
}

.header {
    position: relative;
    display: flex;
    z-index: 999;
}

.toggleButon {
    position: relative;
    width: 30px;
    height: 30px;
    padding: 7px;
    overflow: hidden;
    z-index: 2;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 2px 2px 4px gray;
    text-align: left;
}

.toggleButon>span {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    height: 2px;
    background-color: white;
}

.line-1 {
    transform: translate(-5px, -8px);
    width: 30%;
}

.line-2 {
    transform: translate( 0px, 0px);
    width: 70%;
}

.line-3 {
    transform: translate(-7px, 8px);
    width: 10%;
}

.toggleButon[aria-expanded="true"]>.line-1 {
    transform: translate(0, 0) rotate(-45deg);
    width: 70%;
}

.toggleButon[aria-expanded="true"]>.line-2 {
    transform: translate(0, 0) rotate(45deg);
}

.navigation {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: white;
    font-size: 34px;
    font-weight: bold;
}

.navigation[aria-hidden="false"] {
    display: flex;
}

.navigation>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem 0;
}

.navigation>ul>li {
    text-align: center;
    text-decoration: none;
    color: #0d53e6;
    font-size: 16px;
}
.navigation>ul>li>form>a {
    text-decoration: none;
}

.header-left {
    display: flex;
}

.header-right {
    margin-top: 20px;
    width: 500px;
    padding: 1px 20px;
    margin-right: 40px;
    background-color: white;
    height: 50px;
    line-height: 50px;
    border-radius: 3px;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.45);
}

.logout {
    border: none;
    background-color: transparent;
    color: #0d53e6;
}

#header {
    margin-top: 30px;
    margin-left: 40px;
}