.items {
    padding: 0px 10px;
    
}

.main-header {
    margin-left: 50px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.shop-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.shop-item {
    margin: 10px;
}

.image {
    width: 250px;
    height: 150px;
}
.image img {
    width: 100%;
}

.under {
    background-color: white;
    padding: 20px 20px;
    width: 250px;
}

.shopName {
    margin: 0%;
    margin-top: 10px;
}
.tag {
    font-size: small;
    display: flex;

}

.tag p {
    margin: 0;
}


.item-status {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.detail {
    color: white;
    background-color: #0d53e6;
    border: none;
    border-radius: 2px;
    width: 80px;
    padding: 5px 2px;
}

.likeBtn {
    border: none;
    background-color: transparent;
}

.main-header {

}